/* You can add global styles to this file, and also import other style files */
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
hr{
  border: 3px solid #b1b3b2;
  border-radius: 5px;
}
.footer{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
